[2014-11-15 16:17] podion opened #1 "KeyError: 'Darwin'"
wen i try Python BlocklyServer.py I receive this KeyError: 'Darwin'

Do i did something wrong ?

MacBook-Pro:BlocklyPropClient-master podion85$ python BlocklyServer.py
Traceback (most recent call last):
  File "BlocklyServer.py", line 17, in <module>
    class BlocklyServer(object):
  File "BlocklyServer.py", line 54, in BlocklyServer
    propellerLoad = PropellerLoad()
  File "/Users/podion85/Dow

[2014-11-15 17:47] #1 closed, assigned to nobody

[2014-11-17 11:47] michel-cf opened #2 "Add compile successful message to C compilation"
As the C compiler doesn't report successful compilation, add a message to inform users compilation succeeded.

This is currently already present but doesn't seem to work.

[2014-11-17 20:05] #2 closed, assigned to michel-cf

[2014-12-04 19:47] michel-cf opened #3 "Update simplelibraries"
Update simple-libraries. Later: externalize and provide download function

[2014-12-04 19:48] michel-cf opened #4 "Add ui and hide console"

[2014-12-18 12:12] DarkmatterVale opened #6 "Test Mac Support"

[2014-12-20 19:10] DarkmatterVale opened #8 "Use the GUI with the Install Dependencies script"
For now, it doesn't matter but at some point in the future, the Install Dependencies script should not show the terminal when installing and should not have to be called separately ( i.e. making the user run the program independent of the BlocklyPropClient script ). This might be able to be achieved running this script every time the program is run, and if it doesn't detect the dependencies alread

[2014-12-27 21:01] #4 closed, assigned to DarkmatterVale

[2014-12-27 21:11] #8 closed, assigned to nobody

[2015-01-04 15:37] michel-cf opened #10 "Find C libraries if already installed on the computer"

[2015-02-23 18:48] DarkmatterVale opened #12 "Chromebook support"
This might be very important since some schools will have Chromebooks that students use.

[2015-02-25 01:13] DarkmatterVale opened #13 "Research is python able to be used on a chrome book?"
Is it possible to use Python on a ChromeBook? If not, is there a substitute that we can use?

[2015-02-25 07:50] PropGit commented on #13
I don't know the answer to that; however, our Chrome developers ( see https://github.com/parallaxinc/ChromeIDE ) may be able to assist in converting this to a form suitable for ChromeBooks.  The same result may also support the other platforms as well.  We've already posed the idea to them of making the same framework support BlocklyProp functionality in some sort of absorbed way, but it's too ear

[2015-02-25 13:30] DarkmatterVale commented on #13
Ok. I believe we will definitely need some help because after some looking, Python is not natively able to run on Chromebooks. This will mean we will probably need to find some other way to run the application. Luckily though, once the Propeller is able to work in ChromeIDE we should be able to take a lot of the work there and apply it to our situation.

[2015-03-02 01:15] DarkmatterVale opened #14 "Basic Stamp Support"
In addition to this being a server side of things, additions need to be added on the client.

[2015-03-05 22:32] DarkmatterVale opened #15 "LameStation support"

[2015-03-29 11:39] DarkmatterVale commented on #6
I have been doing a little work on the client recently, and I found a bug. The stack trace in terminal can be seen below. I have no idea what is causing this error.

It occurs when I start the client, click connect, and then try and compile a program from BlocklyProp. This  then somehow throws an OSError: File or Directory not found

[code]

[2015-04-04 01:04] DarkmatterVale opened #16 "Current Release Plan"
What is the current release plan with general dates?

[2015-04-04 11:27] #16 closed

[2015-04-07 00:17] DarkmatterVale opened #17 "Add LameStation Content tools"
This is a pretty simple task that I will work on.

[2015-04-07 00:17] DarkmatterVale commented on #17
https://github.com/parallaxinc/BlocklyPropClient/issues/15

[2015-05-10 15:17] DarkmatterVale commented on #10
I have finished this on my branch. It has been tested ( with everything except the includes ) and seems to work. Hopefully we can close this soon.

[2015-05-10 15:19] DarkmatterVale opened #18 "GCC on Mac"
This needs a solution since it is currently breaks compiling code on the client.

Are we going to add the PropellerGCC toolchain to the client? What solution do we have in mind?

[2015-05-10 19:48] michel-cf opened #20 "Rewrite gui to be more modern looking"
Options:
- Kivy
- QT (PySide)
- GTK

[2015-05-10 21:12] DarkmatterVale commented on #20
This sounds like a great idea and is really needed. QT will be a great substitute. PropellerIDE looks great and is written using a QT GUI. Do you have a preference?

[2015-05-10 21:22] michel-cf commented on #20
I've been looking at GTK (actually already did a new branch, but it didn't
want to run on my pc)

Kivy looks the nicest, and I'm currently working on a QT version test.

On Sun, May 10, 2015 at 11:12 PM, Vale <notifications@github.com> wrote:

[2015-05-10 22:08] michel-cf commented on #18
Our current line of thinking is:

once the server has been moved to java, we'll provide a service that can handle compilation on the server. For those wanting to do offline compilation, I'll add a button to download the GCC toolchain from within the client. Automatically installing it into its own directories. (A download version with the gcc toolchain included will also be made available for thos

[2015-05-10 22:30] DarkmatterVale commented on #18
That sounds like a great way to handle compilation.

[2015-05-10 22:31] DarkmatterVale commented on #13
This probably won't work out. I am going to close this issue because it is not currently relevant.

[2015-05-10 22:31] #13 closed

[2015-05-10 22:33] DarkmatterVale commented on #20
Yes, I took a look at Kivy and I agree that it is very sleek looking.

Should I merge my PR before we do this, or would you like me to wait for the GUI change?

[2015-05-11 15:19] michel-cf commented on #20
You can merge it if you want, so I can see what needs to be implemented. But if you're not ready to merge, a feature list should suffice.

[2015-05-11 16:12] DarkmatterVale commented on #20
I am almost ready to merge; I just need to know how to implement the includes part of the library finder. Would you like me to merge without that? It is not required since the program will default to using the included libraries.

Everything else is done though, including file saving and a box that contains the most recently compiled code (not editable yet).

[2015-05-11 16:24] michel-cf commented on #20
Sure, you can merge it. The library finder and such will have to change anyway.

[2015-05-11 21:05] michel-cf commented on #20
Although it might not look the fancy, wxPython provides a native looking interface.

Once all test implementations are done, a decision can be made

[2015-05-12 00:03] DarkmatterVale commented on #20
Yes, they will have to be changed to work with the include part of each library. Is that what you are referring to?

I will merge right now.

[2015-05-12 17:22] michel-cf commented on #20
Once a decision is made on what library to use based on my tests (in separate branches) the remaining functionality will need to be ported.

It is not so that I want everyone to now install QT, wxPython, GTK, Kivy,... I'll be making executable builds that don't require installation once I find the test version sufficient and distribute these.

After a choice of technology is made, those who want t

[2015-05-13 17:19] michel-cf commented on #20
A wxPython test version is now available for download on: http://owncloud.creatingfuture.eu/public.php?service=files&t=ab818b8ce686467b6afc72b0e3fba11f

I've been unable to get the GTK version to run,

[2015-05-14 12:23] michel-cf commented on #20
Kivy version, not functional yet but the graphical components are there.

![blocklypropclient kivy](https://cloud.githubusercontent.com/assets/5745991/7631602/ab1ab9ce-fa44-11e4-898b-74ae2d27c5c8.png)

[2015-05-14 12:39] DarkmatterVale commented on #20
That looks great! Very sleek and modern looking. Do you think this one looks the best so far?

[2015-05-14 13:33] michel-cf commented on #20
I don't know. Although it might look nice, But the layout systems are not as good as the others, and if you resize the window, the components inside only resize when you release it. It doesn't resize while you hold it.

Defining this layout has been done using a text file (not in code), so I still need to figure out how to handle the events from within the code.

[2015-11-28 19:42] #10 closed

[2015-11-28 19:43] DarkmatterVale commented on #20
@michel-cf What is the status of the client? Are you still working with Python in the new client?

[2015-11-28 20:35] michel-cf commented on #20
Yes, I'm still working with Python (although I've been experimenting with C# to create a windows only version. I'm hoping I can make that one start automaticaly with Windows and minimize to the system tray/notification area)

I have not been working on it using new technologies. Because of the new project setup (cloud-compiling), the requirements for the application have changed a bit.

[2016-02-17 22:02] PropGit opened #21 "Error during install of BlocklyPropClient on Win 7 64-bit"
I clicked the link to BlocklyPropClient, then downloaded the Windows 64-bit archive, extracted the archive, and ran the BlocklyPropClient.exe, then was presented with this error message:

![image](https://cloud.githubusercontent.com/assets/1266318/13126308/c163b3fa-d57e-11e5-9898-c5ed6e42ea04.png)

[2016-02-19 15:02] michel-cf commented on #3
Compiling is now done on the Cloud-compiler, as such, there is no need for this anymore

[2016-02-19 15:02] #3 closed

[2016-02-20 13:27] #14 closed

[2016-02-20 13:28] DarkmatterVale commented on #6
It was working when I was able to get my server working (since authentication rewrite I have been having issues).

[2016-02-20 13:28] #6 closed

[2016-02-24 00:07] PropGit commented on #21
This seems to have been resolved.

[2016-02-24 00:07] #21 closed

[2016-02-24 00:08] PropGit opened #22 "Update link when published publicly"
The Open Browser button points to the link: http://blocklyprop.creatingfuture.eu/

[2016-02-24 00:14] DarkmatterVale commented on #22
Where should it point to?

[2016-07-08 20:00] PropGit opened #24 "Create Installer"
Create installer for the client that installs on each supported platform and also includes the FTDI drivers (if necessary).

Current Supported Platforms
- Windows 7/8/8.1/10 - 64-bit
- Mac OSX 64-bit

[2016-07-09 11:08] michel-cf commented on #18
Not applicable anymore since we have the Cloud-compiler

[2016-07-09 11:08] #18 closed

[2016-08-24 14:50] #17 closed

[2016-08-24 14:50] #15 closed

[2016-08-24 14:51] DarkmatterVale commented on #24
Has this been completed? It sounds like a necessary thing to have before public launch...

[2016-08-24 15:32] zfi commented on #24
The new installers for Windows and OS X have been deployed to the Demo site. I have used the Windows installer once and that was successful.

[2016-08-25 00:12] PropGit commented on #24
I will close this issue now, although we'll continue to update the installers as need be after this moment.

[2016-08-25 00:12] #24 closed

[2016-09-29 16:56] PropGit commented on #22
To answer the question: blockly.parallax.com

This has been fixed in at least v0.5.  Closing issue.

[2016-09-29 16:56] #22 closed

[2016-09-29 16:57] PropGit opened #26 "Merge demo into master now?"
Can we (you?) merge demo into master now?  Is there any outstanding items the mean we must leave them appart?

![image](https://cloud.githubusercontent.com/assets/1266318/18963749/10724f94-862b-11e6-8b09-d9889024fed0.png)

[2016-10-26 11:04] DarkmatterVale commented on #26
+1 on the merge.

[2016-11-17 18:02] zfi commented on #12
Chromebooks have some interesting requirements in order to talk with the embedded hardware. I am looking at this now.

[2016-11-17 18:33] zfi opened #27 "Implement WebSockets"
The BlocklyProp client currently provides an embedded web server that facilitates communication with the client browser to obtain binary images that it then loads onto a connected Propeller device. The current implementation does not support end to end secured communication when the web browser is using HTTPS to communicate with the BlocklyProp server.

@michel-cf has proposed to re-architect the

[2017-01-23 23:53] PropGit opened #28 "Update to use PropLoader instead of Propeller-Load to achieve Wi-Fi and faster serial loads"
Update BlocklyProp Client to support the latest loader submodule.

The Propeller download protocol has been greatly enhanced to support
  * 6x faster downloads and,
  * wireless (Wi-Fi) downloads

The old Propeller-Load command-line tool must be replaced with the new PropLoader command-line tool to achieve this.  The source can be found in the [PropLoader Repository](https://github.com/parallaxinc

[2017-01-23 23:55] PropGit commented on #28
__"Old" Propeller-Load Options__
[code]

__"New" PropLoader Options__
[code]

[2017-01-31 23:26] zfi opened #29 "Client launch fails on Mac - gethostbyname() failed."
The BlocklyPropClient fails immediately upon launch and does not report any error condition. Launching from the command line produces this output.

[code]

[2017-01-31 23:32] zfi commented on #29
The code referenced in the error is this:
[code]
The code is trying to obtain the IP address of the client machine. Hostname resolves correctly. a nslookup command returns a 'can't find hostname - NXDOMAIN'. Adding an A record in DNS for this host allows the client to launch successfully.

[2017-02-08 20:41] PropGit opened #32 "Add error processing for download-but-nothing-happens condition"
Today Jim found code that seems to be directly involved with the download-successful-but-nothing-happens condition reported on occasion by some customers.

Add exception handling and error processing to this code.

If possible now, add a fix to prevent the erroneous condition in the first place.

[2017-02-08 20:46] PropGit commented on #29
@zfi - From what we've seen in tests, can we say with certainty that this issues is now resolved?

[2017-02-08 20:48] PropGit commented on #26
__UPDATE:__ There are active issues being resolved first, then we'll address this issue to wrap it up.

[2017-02-08 20:50] PropGit opened #33 "Add build/package steps to repo readme"
Devise and add steps for building and packaging (Win 32/64-bit, and Mac) to this repository's readme.md.

[2017-02-08 20:52] PropGit opened #34 "Create build/package/sign script and resources for Mac"
Create a script to build, package, and digitally sign for Mac.

Add to repo.

This is required as a related step of Issue #33.

[2017-02-08 20:54] PropGit opened #35 "Add logging feature so we can find problems at customer installations"
Add logging feature to client so we can research deep problems that occur at customer installations.

Some (or all) of this is already in-place as of today; but work continues.

[2017-02-08 21:01] PropGit commented on #29
@zfi - on a related note, if your answer is "yes" to the above, can we push out the updated Win/Mac builds of BPClient to solve this problem on Macs that are experiencing it?  We have a known classroom that is stunted by this item.

Remember, the Mac build needs to either be wrapped in a .dmg file (and named exactly as the current Production and Demo systems expect it) or the Production and Demo s

[2017-02-09 00:41] zfi commented on #35
This is partially addressed in PR #36. Detailed FTDI state is available for debian linux systems. The new client will write application status to a disk file. The fire is overwritten at client startup if it exists.

[2017-02-09 00:46] zfi commented on #32
The loader code would occasionally throw an uncaught exception after downloading the .elf file from the Cloud Session server. The UI would report that the code was successfully downloaded but it would never complete the messages that would normally appear after the target device was programmed.

The latest code (0.5.1) traps these errors and reports it back up the stack. We still need an update to

[2017-02-09 00:49] zfi commented on #29
The new code does correctly detect and accommodate the failed DNS lookup. Fixed in 0.5.1. Building the client is separate issue.

[2017-02-09 17:37] PropGit opened #37 "Add Win FTDI driver detection"
Add support for Windows FTDI driver detection.

This should be used for logging as well as an error check before downloading to prompt the user that there's a specific roadblock in their way.  Ideally, it will provide instruction and a link/button to get the necessary drivers installed.

This relates partially to Issue #35.

[2017-02-09 17:38] PropGit opened #38 "Add Mac FTDI driver detection"
Add support for Mac OS X FTDI driver detection.

This should be used for logging as well as an error check before downloading to prompt the user that there's a specific roadblock in their way.  Ideally, it will provide instruction and a link/button to get the necessary drivers installed.

This relates partially to Issue #35.

[2017-02-09 17:38] PropGit opened #39 "Add Linux FTDI driver detection"
Add support for Linux FTDI driver detection.

This should be used for logging as well as an error check before downloading to prompt the user that there's a specific roadblock in their way.  Ideally, it will provide instruction and a link/button to get the necessary drivers installed.

This relates partially to Issue #35.

[2017-02-09 17:46] zfi commented on #39
Version 0.5.1 has detection code for Ubuntu Linux distributions. Need testing on other distributions.

[2017-02-09 18:14] PropGit commented on #38
__[EDITED]__

__NOTES:__
  - On OS X Mavericks and above, the FTDI driver is stored as __~/Libraries/Extensions/FTDIUSBSerialDriver.kext~__
__/Library/Extensions/FTDIUSBSerialDriver.kext__
    - If this driver is not installed, Apple's own included driver, __~/System/Libraries/Extensions/IOUSBFamily.kext/Contents/PlugIns/AppleUSBFTDI.kext~__ __/System/Library/Extensions/IOUSBFamily.kext/Contents/P

[2017-02-10 17:37] PropGit commented on #38
The "prompts" mentioned above can be an _obvious_ message in the BlocklyPropClient UI (rather than a dialog).  Ideally, we'd have it communicate something to the editor also so that the editor can prompt the user in some way to call attention to it, at the moment they try to download, for example.

[2017-02-10 19:34] paragitadmin commented on #38
@PropGit Can you verify that the path to the installed FTDIUSBSerialDriver is under /Libraries and **not** under /Library ? In MacOS Sierra (10.12.x), I am seeing the driver under /Library.

[2017-02-10 23:06] zfi commented on #35
Fixed in PR #41

[2017-02-10 23:24] PropGit commented on #38
@zfi - Oops, my mistake, it's /Library.  I edited the top post to fix it.

[2017-02-11 19:11] PropGit commented on #33
Added Windows steps.

Added Mac steps up to sign and package.

[2017-02-11 19:11] PropGit commented on #34
Building script.  Tested and debugged up to signing the package.  Has output and timestamp problem.

[2017-02-14 00:54] PropGit commented on #34
The new build script is working and we can now sign and package for the Mac as of [commit b8c8ba](https://github.com/parallaxinc/BlocklyPropClient/commit/b8c8bab6a7f06b013626b7acf34f00b709b54899).

See [README.md](https://github.com/parallaxinc/BlocklyPropClient/blob/demo/README.md) for configuration and building/signing/packaging instructions for Mac.

[2017-02-14 00:56] #34 closed, assigned to PropGit

[2017-02-14 01:03] PropGit commented on #34
The script is executed from within the package/ subfolder like so:
[code]
and the output should look something like this:
[code]

[2017-02-14 01:05] PropGit commented on #33
Updated to include steps for running the sign and package script.

All tested.

[2017-02-14 01:05] #33 closed, assigned to PropGit

[2017-02-14 19:04] PropGit commented on #29
This has been confirmed through a customer.  @zfi - I think this issue can be closed.

[2017-02-14 19:07] PropGit commented on #38
Verified, this enhancement logs the existence (or lack of) the FTDI USB Driver and the existence (or lack of) an FTDI-based board connected to a USB port.

It does not seem to prompt the user in a visible way (in the Client application).

Is prompting intended to be in the Client application, or the Editor?

[2017-02-14 19:15] PropGit opened #45 "Fix Mac packager to build proper application bundle and include Client icon"
_Edit:_ This started as a small issue but was found to be a big problem - the application bundle was not being generated properly, preventing it from appearing in the Mac's Launchpad or Spotlight after install, making it near impossible for typical users to launch the BlocklyPropClient app.

_Old Description:_
The BlocklyPropClient icon is not included in the current package.

Manually including t

[2017-02-14 19:21] zfi commented on #38
I have not addressed an UI enhancement to notify the user of the FTDI issue. The original issue was simply detecting the state of the driver. I'll add an issue to create the UI change.

[2017-02-14 19:25] zfi opened #47 "Display notification when the FTDI driver is unavailable"
The BlocklyProp Client is able to detect the current state of the FTDI driver; whether it is installed and if it is currently loaded and running. Add a dialog to notify the user when the FTDI driver is either not installed or if the driver is not running.

Specifically, evaluate that the FTDI driver is installed during app start-up. Test the run state of the FTDI driver prior to attempting a code

[2017-02-14 23:06] PropGit commented on #37
While exploring the Win API for the necessary calls (something I remember seeing in the past while building the Parallax USB Driver Installer), I came across information that there's already an existing command-line tool included in Windows that may give us the info we need:  driverquery.exe.

[https://technet.microsoft.com/en-us/library/bb490896.aspx](https://technet.microsoft.com/en-us/library/b

[2017-02-14 23:29] PropGit commented on #38
@zfi - perfect, thanks.  I think the UI change needs to be a separate issue too, to fit our necessary workflow.

[2017-02-15 00:17] PropGit commented on #37
The Windows built-in driverquery.exe is best for our current needs.

For future reference, there's also the [devcon.exe](https://msdn.microsoft.com/en-us/microsoft-r/ff544707.aspx) (in both 32-bit and 64-bit versions), attached, that _is not_ included with Windows but is available in the WDK.  It has many more options but isn't as easy to get the info we need.  It also seems to rely on a hardware

[2017-02-15 07:30] #29 closed, assigned to zfi

[2017-02-16 01:07] PropGit commented on #37
In PR #51, @zfi mentioned that the driverquery.exe doesn't list FTDI driver information unless a qualified USB device is attached.  I didn't witness that happen the first time I tested it; however, now I can confirm that it appears driverquery.exe doesn't list FTDI driver information unless a qualified USB device has been connected at least once during that computer's current session; otherwise, i

[2017-02-16 14:53] PropGit opened #52 "Enhance Windows FTDI Driver detection"
Relates to Issue #37.

Attempt to either using DevCon.exe, or create a SetupAPI-based .exe, that can detect the presence (or lack of) the FTDI USB Drivers regardless of whether or not a qualifying USB device has ever been connected to the Windows computer (that session or ever).  NOTE: The driver site in the driver store, ready to be attached to a USB device, before the first device is connected.

[2017-02-16 14:54] PropGit commented on #45
Can not determine what is causing the problem here.  ~~Will release without this fix for now.~~

Update: This was found to be a problem with the macos.spec file used by the PyInstaller build step.  See next post.

[2017-02-16 14:56] PropGit commented on #35
This is now addressed for Linux, Mac, and Windows.  @PropGit verified on Windows and Mac.

[2017-02-16 15:01] PropGit commented on #35
Closing issue.  Further logging enhancements will be documented by future issues.

[2017-02-16 15:01] #35 closed, assigned to zfi

[2017-02-16 15:04] PropGit commented on #47
This is an additional step after Issues #35. #37. #38. and #39.

[2017-02-16 15:08] PropGit opened #53 "Add UI error for silent-download-error-traps"
Add UI error when the downloaded-but-nothing-happens error(s) is/are trapped from Issue #32.

[2017-02-16 15:09] PropGit commented on #32
Created Issue #53 for UI portion of this task.  Logging it working; closing this issue now.

[2017-02-16 15:09] #32 closed, assigned to zfi

[2017-02-16 15:10] PropGit commented on #37
Created Issue #47 to attempt to improve this detection on Windows.  This current issue is complete.

[2017-02-16 15:10] #37 closed, assigned to PropGit

[2017-02-16 15:11] PropGit commented on #38
Issue #47 will carry on the final part of this task.

[2017-02-16 15:11] #38 closed, assigned to zfi

[2017-02-16 15:16] PropGit commented on #39
@zfi - How do you want to handle testing on other distributions?  I only have an Ubuntu test system.  Can we have @dcarrier-parallax test?

[2017-02-16 15:18] PropGit opened #54 "Release v0.5.2"
Release current build as v0.5.2 for Win and Mac (Linux exe/installer not necessary).

[2017-02-16 18:36] PropGit commented on #54
Status: Mac .pkg is ready.  Win .exes are built but awaiting digital signing which will (hopefully) occur today.

[2017-02-16 20:51] PropGit opened #55 "Update the background image in the Mac installer package."
Choose and apply a better background image for the Mac installer package.

[2017-02-16 20:56] PropGit commented on #54
Status: Mac and Win files are digitally signed and ready for release.

[2017-02-16 21:31] PropGit commented on #54
Files and details released on [Releases page](https://github.com/parallaxinc/BlocklyPropClient/releases/tag/v0.5.2).

@zfi is deploying to sites now.

[2017-02-16 21:31] #54 closed, assigned to PropGit, zfi

[2017-02-16 22:09] PropGit opened #56 "Make Mac USB Driver Installation work properly without need to reboot"
Explore, and if practical, make Mac installer unload Apple's "FTDI" USB driver and load FTDI's USB driver instead.  This should remove the need to reboot the system after installing the BlocklyPropClient with FTDI drivers.

A question is whether or not the load/unload operation is even possible without superuser privileges.

[2017-02-17 00:38] PropGit commented on #54
Deployed to Demo site.

[2017-02-21 21:35] MatzElectronics opened #57 "Strange Console Error"
This pops up when running BPClient on my mac from the terminal in the logging that then comes after:

Traceback (most recent call last):
  File "logging/__init__.py", line 861, in emit
  File "logging/__init__.py", line 734, in format
  File "logging/__init__.py", line 465, in format
  File "logging/__init__.py", line 329, in getMessage
ValueError: unsupported format character ' ' (0x20) at index

[2017-02-23 00:01] zfi opened #63 "Port 6069 in use after launching multiple copies of client"
Launching a new instance of the BlocklyProp Client without closing the previous instance reports a WebSocket error, "Port 6069 already in use".  Ideally, the client would detect the attempt to launch multiple instances and do something reasonable, such as setting focus on the previous instance or reporting that an instance is already running.

[2017-03-01 03:26] PropGit opened #66 "Log location denial kills app on Mac"
@zfi - Building the Mac today app after merging in latest Demo work produces a condition we've seen, and fixed, before...
  - when run from the Launchpad, Finder, or Spotlight, the BlocklyPropClient app starts and then immediately stops, producing no GUI or visible error message.
  - when run from the console, it indicates that it tried to create a log file inside the Application's bundle... somet

[2017-03-01 03:56] PropGit commented on #66
__UPDATE__

I just updated the build spec and rebuilt, with a slightly different outcome that appears to be trying to put the log file deeper into the bundle and is also denied.  From this, I now realize that it's trying to write the log file in the folder where the call to launch the application came from, instead of to a specific folder.
[code]

[2017-03-01 04:06] zfi commented on #66
The error occurs when we actually try to open the logging file. I am unsure what the logging system is trying to open the log file where the error indicates. The leading candidate is that the code is not detecting the host environment correctly. Can you rerun the client from the command line and gather the console output?

The [Apple File System Programming Guide](https://developer.apple.com/libra

[2017-03-01 14:58] PropGit commented on #66
Are we using __Library__ or __/Library__?  Looks like the first is what is most appropriate unless we want to share the log between users.

Okay, I re-ran producing the same terminal output as above, and this is the only console output from the "BlocklyPropClient" process:
[code]

Here's the total console output at the time:
[code]

[2017-03-01 19:43] PropGit commented on #45
Found that the cause of all these problems was ultimately due to a malformed macos.spec file.

Determined that the file could be recreated, the proper bundle format requested, the application icon included and the bundle identifier specified using ```pyi-makespec --windowed --icon BlocklyPropClient.icns --osx-bundle-identifier com.ParallaxInc.BlocklyPropClient --noupx BlocklyPropClient.py```

Afte

[2017-03-01 19:59] PropGit commented on #45
Once we get Issue #66 addressed, I will test more on my machine and then organize a test of a couple other machines.

[2017-03-01 20:04] PropGit opened #69 "Add new background image to Mac Installer package"
Generate and add new background image to the Mac Installer package.

[2017-03-01 20:10] PropGit commented on #69
Closing as this is a duplicate of Issue #55.

[2017-03-01 20:10] #69 closed, assigned to PropGit

[2017-03-01 22:01] PropGit commented on #66
Tested on Jeff's Sierra VM (which was experiencing the problems noted above) and now it works properly regardless of where it's launched from!  Success!

[2017-03-01 22:01] #66 closed, assigned to zfi

[2017-03-01 22:01] PropGit commented on #55
Updated in PR #71.

[2017-03-01 22:01] #55 closed, assigned to PropGit

[2017-03-01 22:07] PropGit opened #72 "Update Mac script to include version number in bundle"
Update Mac sign and package script the include the version in the bundle's Info.plist so that the version number appears in the Mac's Get Info (and other) areas.

[2017-03-02 14:43] PropGit opened #73 "Version Number Management"
@zfi

From [this commit](https://github.com/parallaxinc/BlocklyPropClient/commit/c0e009fab0d573e419ec534d6dbfaae7a8a2483d) it appears that the version number is currently stored in three different places:

- BlocklyPropClient.py
- about.txt
- package/blocklypropclient-installer.iss

and with the recent enhancement of the Mac build/sign/packaging spec and scripts, it is also necessary for it to be

[2017-03-03 14:27] PropGit commented on #73
I did this in PR #74.  I'll do some final testing/review before merging and closing this issue.

[2017-03-03 14:28] PropGit commented on #72
I did this in PR #74.

[2017-03-03 14:31] PropGit commented on #45
Removed one manual change to the .macos.spec file (to leave the Mac application bundle version number unset- 0.0.0) and moved that responsibility over to the mac_app_sign_and_package script - a more fitting place for it.  This was done in PR #74.

[2017-03-06 18:35] zfi commented on #73
It looks like PR#74 includes a script that tags a number of files with a specific version number. I'm looking at this from an automated build process. Which file tracks the current version number?

[2017-03-06 18:44] zfi commented on #57
This error is caused by the recent change of the application version number from a floating point number to a string.

The BlocklyProp browser code was looking for a floating point version number when querying the BlocklyProp Client interface and was no longer finding it. The BlockyProp browser code then set the version to 0.0. This became significant because of another change in the interface bet

[2017-03-06 18:48] zfi commented on #57
Issued PR #59 to address this error.

[2017-03-06 20:07] PropGit commented on #73
@zfi - Not sure I understand the question.  If you're asking which file an automated build process should check for an "official" version number, I'd say it's BlocklyPropClient.py.

[2017-03-06 20:34] PropGit commented on #72
Verified complete.

[2017-03-06 20:34] #72 closed, assigned to PropGit

[2017-03-07 17:07] PropGit commented on #45
Issue #66 completed and PR #74 merged.  Build for Mac produces a application bundle which works properly until it's installed and launched with the normal means: from Finder or LaunchPad.  This seems to be an issue with retrieving the home directory to convert the relative Propeller-Load executable path to an absolute path, described in this [BlocklyProp Issue](https://github.com/parallaxinc/Block

[2017-03-07 17:08] PropGit opened #76 "Move Developer Notes to the Wiki"
Move the Developer Notes from the README.md into the Wiki and reference the Wiki from README.md.

[2017-03-08 18:12] PropGit opened #79 "Log is cleared when application is terminated"
When the BlocklyPropClient application is closed, the log file it created is wiped clean, leaving it 0 bytes in size.

This happens on Windows; have not witnessed it on Mac.

[2017-03-08 18:26] zfi commented on #79
I have seen this in my development environment. Not very often, but it does happen. There is likely an error in how the app is shutting down or in the order in which logging and the embedded server are terminating. When it does happen, I see a single message on the console that indicates an error while trying to write to the log file.

Until this is corrected, select the 'disconnect' button on the

[2017-03-08 18:40] PropGit opened #80 "Determine difference in behavior for logging on Win vs Mac"
On Windows, there is a definite difference in behavior in logging in comparison to what is logged in Mac.

The next two log listings are from the same version (v0.5.4) of BlocklyPropClient, performing the same steps, downloading the same BlocklyProp project to a Propeller, and all done within about 1 minute of time.

On Windows, there are no repetitive logged events for COM port enumeration, no in

[2017-03-09 18:35] PropGit commented on #76
Done.  See [Wiki](https://github.com/parallaxinc/BlocklyPropClient/wiki).

[2017-03-09 18:35] #76 closed, assigned to PropGit

[2017-03-09 18:36] #73 closed, assigned to nobody

[2017-03-09 18:44] dlcarrier opened #82 "When running on Linux, application tries to read files from the root directory"
When running BlocklyPropClient on Linux, the self.appdir call returns empty, and all attempts to read a file from the working directory, or a subdirectory of the working directory, result in a read from the root directory, or a subdirectory of the root directory.

This appears to be the same as this issue: https://github.com/parallaxinc/BlocklyProp/issues/929, except on Linux instead of OS X.

[2017-03-09 19:07] PropGit commented on #45
PR #77 fixed above failure.  The call to retrieve the working (application's) directory was responding with _blank_.  Note this problem seems to still exist on Linux as of Issue #82.

Tested on 2 host machines (@PropGit, @MatzElectronics) and two VMs (Yosemite and Sierra).  App Bundle and packager deemed correct and ready for release.

[2017-03-09 19:07] #45 closed, assigned to PropGit

[2017-03-09 21:07] zfi commented on #82
@dcarrier-parallax What flavor/version of Linux is this happening on? The self.appdir construct appears in a number of places in the source. My understanding is that there is only one place in the code where we are reading a file and that is when when we are launching the propeller-load to program the device. Where are you seeing this?

[2017-03-09 21:26] dlcarrier commented on #39
Here's the log from Ubuntu Linux:

[code]

[2017-03-09 21:52] PropGit commented on #39
Thanks @dcarrier-parallax - that proves that the driver detection is working!

[2017-03-09 21:52] #39 closed, assigned to zfi

[2017-03-10 15:12] PropGit commented on #82
@dcarrier-parallax told me yesterday that's its Ubuntu.

The error happens when 1) selecting About > About to see the about.txt file... where it tries to find it a /about.txt, and 2) downloading, where it tries /propeller-tools/propeller-load.

The output that led us to realize this was on the terminal output, I think, and not in the log file... but I can't remember that for sure.

[2017-03-15 22:27] PropGit commented on #82
@zfi - I see the same thing happening on the Development VM.  How are you starting the BlocklyPropClient on the Development VM?  Maybe we're both doing it differently than you.

I've changed the code slightly to work in my case, but am pouring through the plethora of solutions to this problem before settling it.

[2017-03-15 22:42] PropGit commented on #79
Verified this happens on Ubuntu also.

[2017-03-16 00:25] zfi commented on #82
On a Linux system, one should compile the application with this command line
[code]
This will create a distribution in the ./dist/BlocklyPropClient.linux/ folder. One can then run the compiled client
[code]

The about.txt file does not appear in the distribution file set. This needs to be corrected before the Abount menu item can work.

[2017-03-16 14:57] PropGit commented on #82
Thanks @zfi - I have a fix completed for the about.txt issue and the run-from-source working folder not found issue.  Both will be in a PR this morning after I verify that they don't cause problems with Win and Mac builds/runs.

[2017-03-16 15:42] zfi commented on #80
The execution path for Windows is unique in some areas of the code. Sine the initial emphasis for the detailed logging was to identify gross logic errors in the MacOS path, very little Windows-specific code was given the logging treatment. This certainly can be corrected but it's not a priority.

The double logging in the Linux/MacOS code paths is likely caused by defining more that one logger. Th

[2017-03-16 18:25] PropGit commented on #82
Fix for this is PR #83.

Tested on Win 32 (run from source, run from dist, run from installer), Mac (run from source, run from dist, run from installer) and Ubuntu (run from source and run from dist).

[2017-03-16 19:00] PropGit commented on #82
@dcarrier-parallax - Can you pull from the demo branch again on your system and re-run the experiment we did before to verify good behavior?

- Once the new tip of demo is pulled down to your machine try:
[code]

   - Verify the About menu works
   - Click the Connect button and verify that a download from blockly.parallax.com works properly
- Disconnect, then close the BlocklyPropClient
- Build t

[2017-03-16 20:30] PropGit opened #84 "Document BlocklyPropClient Troubleshooting Tips"
The BlocklyProp system requires a web-based editor (blockly.parallax.com) plus local service on the user's computer (installed and running) in order to download code from the BlocklyProp Editor to the Propeller or debug between the Propeller and the BlocklyProp terminal.

__Security software may prevent BlocklyPropClient from operating properly.__
The BlocklyPropClient software provides this servi

[2017-03-16 20:40] PropGit commented on #84
## Firewalls
A firewall is software or hardware that watches for and blocks certain types of local network and Internet communication in an effort to protect the computer and user from malicious attacks.  Users may have a software firewall that comes preinstalled on their computer, or is added to the computer either by them or someone who administers the computer and/or network.

For BlocklyPropCl

[2017-03-16 20:43] PropGit commented on #84
## SmartScreen Software
Windows 10 (and Windows 8?) includes __Windows SmartScreen__ software that prevents unrecognized software from running without the user's knowledge.

Below is a message from Windows SmartScreen that appeared when the user tried to run the BlocklyPropClient setup (installer) program.  This message unfortunately appears even though the software is properly digitally signed (a

[2017-03-16 20:58] PropGit commented on #84
## Symantec SONAR Protection
Here is a message from Symantec security software when it sees the BlocklyPropClient software start running.  This message appeared well after the installer (which was initially blocked by Windows SmartScreen, above) finished it's job and now it was time to run the newly-installed software.

![image](https://cloud.githubusercontent.com/assets/1266318/24017980/5aad0506-

[2017-03-24 14:16] PropGit commented on #57
The reported error in this issue was confused with another simultaneous problem that was addressed and solved in PR #59.

The error in the top post was unrelated and not itself fixed by PR #59, it was just coincidental; however, now the error was found to be a bad format string in BlocklyServer.py.

[2017-03-24 14:23] PropGit commented on #57
This issue is fully solved in PR #85.

[2017-03-24 14:23] #57 closed, assigned to zfi

[2017-03-24 14:34] zfi commented on #27
Created a test bed using the Autobahn package to manage WebSockets within the client. This should eliminate the weird dependency tree on ws4py/wsgi/cherrypy that is currently in place.

[2017-03-24 19:42] PropGit opened #86 "Prevent duplicates in port list"
Future Enhancement:

Prevent duplicate "names" from appearing in port list.  This is a possibility now since users can custom-name their Wi-Fi Modules.  Since BlocklyProp's Editor doesn't keep track of the _port's_ IP address, only the name is passed between BPClient and BP.  This means that BPClient can be asked to download to a port name that resolves to two or more IP addresses if there happens

[2017-03-30 19:50] PropGit commented on #84
__From Miguel:__
One thing that happened to me on my home PC is that although I had downloaded and connected the Blockly Prop Client, I still had the red letter message saying that the client was not running. I had to let my pc accept the client download manually. A security or antivirus software was preventing it from loading. After that it worked normally.

[2017-04-04 16:13] Steph-Parallax commented on #84
Right after installing and running BlocklyPropClient v0.6.2 (and clicking "Connect") on @Steph-Parallax's computer, this is the alert that popped up from Norton:

![image](https://cloud.githubusercontent.com/assets/22827298/24667058/eadf53d8-1916-11e7-9527-1132b9c33534.png)

It is indicating that PropLoader.exe (the Propeller Loader component of the new BlocklyPropClient) is performing network act

[2017-04-04 20:42] PropGit commented on #82
Closing this because I've verified this myself.

[2017-04-04 20:42] #82 closed, assigned to PropGit

[2017-04-04 21:56] PropGit commented on #28
Work complete for USB (serial) downloads + debugging, and Wi-Fi downloads (but not debugging).

[2017-04-04 21:56] #28 closed, assigned to nobody

[2017-04-04 21:57] PropGit opened #88 "Enhance to allow Wi-Fi debugging"
Add support for networked (Wi-Fi) debugging.

[2017-04-06 18:14] PropGit opened #89 "Improve port string parsing to prevent "R"-style ports"
It has been noted that on Windows computers with an "Intel(R)... "-based COM port, the port shows up in the BlocklyProp list as "R"... this is because the parsing mechanism is just grabbing whatever string appears within parentheses and assuming that's the _friendly name_ for the port.

Must fix this.

[2017-04-06 18:15] PropGit opened #90 "Add Update Client Ability"
In the BlocklyPropClient's menu, add a link that allows the user to check for, and download an updated client.

[2017-04-13 18:20] PropGit commented on #89
The code causing this problem doesn't appear to be inside of BlocklyPropClient.  Suspect it's happening in BlocklyProp itself.

[2017-04-13 18:20] #89 closed, assigned to PropGit

[2017-04-18 03:46] PropGit opened #91 "Validate COM port IDs before launching PropLoader"
This issue came up from a system where PropLoader reports a particular Windows-based VCP as "R" and exposed a bug in BPClient.

Make BPClient verify that the port name appears to be a valid port name.  NOTE: The fix will still require the PropLoader report the port name properly, of course.

[2017-04-19 14:53] PropGit opened #92 "Sort wired ports to their alphanumeric order"
Wireless ports are already sorted by alphanumeric order... make wired ports sort the same way, but keep wired ports at the top of the list and wireless ports at the bottom of the list.

[2017-05-03 16:06] PropGit commented on #56
Recent evidence and conversation about macOS Sierra+ reveal possibility that Apple's FTDI driver needs to either be used exclusively (ie: don't install and use FTDI's driver) or that it should be permanently disabled.  This needs to be explored and resolved before this issue can be performed.

[2017-05-03 16:10] PropGit opened #93 "FTDI Driver on macOS Sierra (exclusive or not at all)"
This relates to the second post in Issue #56.

Test FTDI Driver on virgin macOS Sierra
- Keep Apple FTDI driver as-is (installed and enabled)
  - Unplug/replug USB device, determine what happens
    - How does this relate to what happens on pre-Sierra?
- Disable Apple FTDI driver (keep installed)
  - Unplug/replug USB device, determine what happens
-  Disable FTDI driver, reenable Apple FTDI drive

[2017-05-03 16:10] PropGit commented on #91
Determine if this is still needed as per PropLoader v1.0-33.

[2017-05-03 16:14] PropGit opened #94 "Apply better port list handling"
Wi-Fi ports tend to appear/disappear often (with current Wi-Fi discovery protocol) and are subject to less frequent but still possible appear/disappear behavior with increased network congestion (even with a better discovery protocol).

Consider easy ways to make the list more stable so that BlockyProp users don't end up with so many opportunities for their selected port to 1) change*, or 2) disap

[2017-05-03 17:46] PropGit commented on #92
Done in PR #95.

[2017-05-03 17:46] #92 closed, assigned to PropGit

[2017-05-03 17:56] PropGit commented on #91
The need for this has been removed by PropLoader v1.0-33, which reports "Unable to connect to port <port ID>" if the give port ID simply doesn't exist.

[2017-05-03 17:56] #91 closed, assigned to PropGit

[2017-05-03 18:31] PropGit commented on #94
~After consideration, it's best to solve this problem the way it should have been solved in the first place - by implementing a hearty discovery protocol in the Wi-Fi Module + PropLoader.~
__See next post__

[2017-05-03 21:02] PropGit commented on #94
Reconsidering - Turns out, if this is implemented as a short-term history filter, it plays an important role in solving Issue #86 as well.

Algorithm (to be combined with that from Issue #86):
- A _history_ list is created for wireless ports (a list of recently discovered ports)
  - Contains same Name, IP, MAC fields returned by PropLoader with the addition of UID and Life fields
    - UID = Name

[2017-05-03 21:13] PropGit commented on #86
As it relates to Issue #94, a _history_ list will be used to retain the original Name (as well as IP and MAC) of a wireless port and will contain also a UID and Life field used by this issue to form a more stable and unique list of wireless port identifiers.

The process of making a new entry unique is as follows:
- Compare new item's MAC against the MAC of all items in _history_ list
- If a MAC m

[2017-05-05 22:55] PropGit commented on #86
Solved and merged via PR #96!

The official process of generating a port list (including features of Issue #86 and Issue #94) is:
wiredMaxLife is 2
wirelessMaxLife is 4
portRec is a list containing fields UID, Name, IP, MAC, and Life

- Retrieve list of wired and wireless ports from PropLoader
  - For each port
    - Is it a wired port?
      - If wired port identifier matches an existing UID from

[2017-05-08 18:03] PropGit commented on #94
Implemented, tested, and merged via PR #96.

See final algorithm in last post of Issue #86.

[2017-05-08 18:03] #94 closed, assigned to PropGit

[2017-05-08 18:04] #86 closed, assigned to PropGit

[2017-05-08 18:10] PropGit opened #97 "Review/Test for possible name-adjustment bug"
During review of PR #96, I believe I made a late change that introduced a possible minor bug.  The code:
[code]
inside of ```enterUniqueWiFiPort()``` may be preventing the entire MAC address from being used before repeating starts.

This is a super minor, low priority issue.

[2017-07-28 17:45] zfi opened #98 "Unable to load program onto S2 Robot"
Programming an S2 from the BlocklyProp web site has been working correctly until recently. Now the BlocklyProp Client is reporting a failure (Error - 1) when loading the program to the S2.

To better understand what was happening with this, I intercepted an .elf file and created a bash script to run the proploader with the some command line arguments as the BPC does.  The test replicate the experi

[2017-07-31 15:36] zfi commented on #98
Customer is reporting that S2 programming is successful when using a third-party USB-Serial dongle. The programming failure may be related to use of the Parallax USB to Serial (RS-232) Adapter (#28030).

[2017-08-03 22:16] PropGit commented on #98
UPDATE: We have strong evidence through testing now that PropLoader (the new Propeller Loader subsystem of BlocklyProp Client) was never able to download to S2 (but works with S3 just fine).  It is not know yet why this is, but older BlocklyProp Clients with Propeller-Load instead of PropLoader do indeed program the S2 fine).

[2017-08-04 21:12] zfi opened #99 "Add Base64 encoding for terminal communications"
The BlockyProp browser code is expecting base64 encoding for terminal communication as of BPC version 0.7.0.

Update the client to transmit and receive base64 encoded characters to the terminal. Once that is completed, update application version number to 0.7.0 or greater to enable the feature in the client browser code.

[2017-08-04 21:16] MatzElectronics opened #100 "Terminal stream needs base64 encoding"
The browser code is expecting BPC version 0.7.0 or higher to base64 encode it's stream.
The terminal chokes on some ASCII < 16 chars, and all ASCII > 127 chars.  Base64 will keep the chars sent both ways safe without adding too much overhead.

[2017-08-04 21:18] MatzElectronics opened #101 "Terminal character echoing needs to be turned off"
The browser app is expecting version 0.7.0 and higher to NOT echo chars from the terminal.  Echoing should be (for consistency across IDEs and platforms) handled by the Prop for the time being.

[2017-08-04 21:18] MatzElectronics commented on #100
Duplicate.

[2017-08-04 21:18] #100 closed, assigned to nobody

[2017-08-04 21:19] MatzElectronics commented on #99
And receive base64 chars and decode them.

[2017-08-09 16:14] zfi commented on #99
@PropGit Can you fit this into you build schedule soon? We want to wrap up the loose ends on the BlockyProp constellation of projects prior to the beginning of the fall semester.

[2017-08-29 18:49] PropGit commented on #12
Closing.  We've implemented Chromebook support via a new project: [BlocklyProp Launcher](BlocklyPropClient_Web).

[2017-08-29 18:49] #12 closed

[2017-08-29 19:15] PropGit commented on #98
Solved the problem in PropLoader v1.33?

[2017-12-12 18:42] PropGit commented on #99
@MatzElectronics @zfi - I'm having problems with this.  I think I'm encoding and transmitting the data properly, but it fails to appear on the terminal and the web client console complains

when it tries to do ```c_buf = atob(e.data);```

I've reverted to a hard-coded test with these python lines:
[code]
as well as other incarnations, and I can see that the web client receives ```eW91ciBuYW1l``` b

[2017-12-12 19:26] MatzElectronics commented on #99
Not 100% sure what's happening,  but have you tried:
c_buf = atob((e.data).toString());

???

*Matthew Matz  |  STEM/Robotics Educator*
Parallax Inc.  |  Direct: 916-625-3019  |  www.parallax.com  |  @M
atzElectronics <http://twitter.com/MatzElectronics>

On Tue, Dec 12, 2017 at 10:42 AM, Parallax Git Administrator <
notifications@github.com> wrote:

[2017-12-12 19:28] MatzElectronics commented on #99
Or, maybe:

c_buf = e.data ? atob((e.data).toString) : '';

*Matthew Matz  |  STEM/Robotics Educator*
Parallax Inc.  |  Direct: 916-625-3019  |  www.parallax.com  |  @M
atzElectronics <http://twitter.com/MatzElectronics>

On Tue, Dec 12, 2017 at 11:26 AM, Matt Matz <mmatz@parallax.com> wrote:

[2017-12-13 01:27] PropGit commented on #99
It was worth a try, yes, but the ```.toString()``` addition didn't change the behavior at all.
Doing ```console.log(e.data)``` just before the conversion confirms that the correct string appears; no extra or fewer, or different characters.

I'll keep looking.

[2017-12-13 01:32] PropGit commented on #99
Using https://www.base64encode.org/ and https://www.base64decode.org/, I verified that "your name" and "eW91ciBuYW1l" match the encoding for all 8 input character sets given.

[2017-12-13 02:25] PropGit commented on #99
Tried [this article](https://code.tutsplus.com/tutorials/base64-encoding-and-decoding-using-python--cms-25588) and it's suggestion to use base64.encodestring() too... no luck.

[2017-12-13 03:14] PropGit commented on #99
I even tried converting it to a array buffer first, using this:
```c_buf = atob(str2ab(c_buf));```

that references this code:
[code]

[2017-12-13 20:12] PropGit commented on #99
Solved it- with the help of both of you @MatzElectronics and @zfi.

atob() does indeed accept a string and the Python code was indeed encoding correctly and sending it as a string (and the .onmessage() event's resulting e.data was indeed a string type).  I verified this a few different ways last night and this morning.

@MatzElectronics's emailed code got me thinking differently (thank you!) and h

[2017-12-14 21:32] PropGit commented on #99
Fixed.  Added in PR #105.

[2017-12-14 21:32] #99 closed, assigned to paragitadmin

[2017-12-14 21:33] PropGit commented on #101
Fixed.  Added in PR #105.

[2017-12-14 21:33] #101 closed, assigned to nobody

[2017-12-15 21:00] PropGit commented on #98
BP Client v0.7.0 released today that fixes the problem.  (Earlier release solved it to, I believe, but wasn't a general release).

[2017-12-15 21:00] #98 closed, assigned to nobody

[2018-03-15 17:36] PropGit opened #109 "Improve port list response"
A teacher reported this problem in his classroom:

I responded with this, that also contains the point of this issue at the end:

[2019-09-16 22:55] AndyLindsay opened #110 "Notification behavior when taskbar is set to autohide"
If a user has the Windows taskbar's "Automatically hide" setting "On" and is working on a BlocklyProp project, then selecting Open or New project in Solo triggers notification behaviors that might seem like an interruption.  The BP launcher button's background turns orange, which is probably intended.  What might not be intended is if the taskbar is hidden, it reappears and the user has to first c

[2019-09-17 18:21] PropGit commented on #110
Noted.  Yes, this can be annoying and you've recognized exactly what's happening in this case; something I was unable to figure out.  Thanks!  I don't think there's a way for us to make the icon notification activity occur without affecting the taskbar, so we'll probably have to disable that feature.

[2019-09-17 18:33] PropGit opened #111 "Update WX Modules settings tab"
- The Enable WX Modules checkbox doesn't change any functionality
  - Decide whether to remove or fix that feature
- The message "WX Modules are not fully supported yet" still appears; yet, I think all features supporting WX modules has now been implemented
  - Research and resolve this

[2020-05-22 00:05] PropGit commented on #109
This was implemented in BlocklyProp Launcher v1.0.1 as BlocklyProp Client was decommissioned by that time.

[2020-05-22 00:05] #109 closed, assigned to PropGit